dash
dash-bootstrap-components
plotly
pandas
numpy
scipy
scikit-learn
statsmodels
netifaces
talib
yfinance
requests
beautifulsoup4
tqdm
xgboost
lightgbm
tensorflow
matplotlib
seaborn
